.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: black;
    color: snow;
    height: 60px;

}

.Header a{
    text-decoration: none;
    color: snow;
    margin: 0 5px;
}

.Header a[class='active']{
    color: red;
}

body{
    margin: 0;
}